{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <title>Audible Source</title>
  <body>


 <!-- main banner -->
 <section class="bgimage" id="home">
    <!-- <nav class="navbar navbar-expand-lg fixed-top navbarScroll">
        <div class="container">
            <a class="navbar-brand" href="#">Audible Source</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#signup">SignUp</a>
                    </li>
                  
                </ul>
                
            </div>
        </div>
    </nav> -->
    <div class="homepage">
        <ul>
            <li><a href="/">Audible Source</li></a>
            <li><a href="/login/">Login</li></a>
            <li ><a href="/signup/">SignUp</a></li>
        </ul>
     </div>	
    <div class="container-fluid">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hero-text">
            <h2 class="hero_title" style="color: rgb(88, 20, 20);">Hi, it's me Audible Source</h2>
            <p class="hero_desc"  style="color: rgb(87, 10, 10);">When You Play , Never Mind Who Listens</p>
        </div>
        </div>
    </div>
</section>
</body>
</html>


